*{
padding:0;
margin:0;
}
body{
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:14px;
color:#666;
}
.page{
width:900px;
margin:0 auto;
}

div#top_content_wrap{
background:#008fc8;
}

div#top_content{
background:url('/assets/bg.jpg') no-repeat top;
padding-top:25px;
}

div#top_content div#app_screenshot{
float:left;
width:500px;
/*background:url('/assets/phone.png') no-repeat top center;*/
}

div#top_content div#app_screenshot #slider{
margin-left:80px;
}

div#top_content div#app_screenshot .screencast{
float:left;
padding-top:12px;
padding-left:24px;
}

div#top_content div#app_description{
float:right;
width:385px;
margin-top:15px;
}

div#top_content div#app_description div.header h1,div#top_content div#app_description div.header div.version{
float:right;
}
div#top_content div#app_description div.header div.version{
padding:4px 8px 4px 8px;
background:#f00;
color:#fff;
margin-left:370px;
margin-top:20px;
position:absolute;
display:none;
}
div#top_content div#app_description p,div#top_content div#app_description ul li{
font-size:18px;
line-height:35px;
letter-spacing:-0.02em;
color:#fff;
text-shadow: 1px 1px 0 #008fc8;
}
div#top_content div#app_description ul{
list-style:none;
margin-top:20px;
}
div#top_content div#app_description ul li{
background:url('/assets/bullet.gif') no-repeat left;
padding-left:25px;
margin-bottom:6px;
}
div#top_content div#app_description div.actions img{
margin:40px 0 0px 0;
}
div#top_content div#app_description div.actions a.app_store{
width:170px;
height:57px;
margin-top:25px;
background:url('/assets/appstore.png') no-repeat top;
display:block;
text-indent:-999999px;
float:left;
}
div#top_content div#app_description div.actions p{
font-size:12px;
width:260px;
float:left;
margin-left:30px;
line-height:19px;
}
div#top_content div#app_description div.actions p b{
display:block;
color:#444;
}
div#top_content div#app_description div.slogan{
width:371px;
height:30px;
background:url('/assets/slogan.png') no-repeat top;
margin:10px 0 25px 0;
display:block;
}
div#page_seperator{
height:2px;
width:100%;
background:url('/assets/page_seperator.gif') repeat-x top;
}
div#bottom_content{
}
div#nav{
margin-top:-1px;
width:500px;
float:left;
}
div#nav ul{
list-style:none;
height:40px;
width:500px;
}
div#nav ul li{
float:left;
margin-right:15px;
}
div#nav ul li a{
padding:12px 5px 12px 5px;
display:block;
color:#666;
text-decoration:none;
}
div#nav ul li a:hover{
background:#d3d3d3;
}
div#nav ul li a.current{
background:#d3d3d3;
color:#262626;
}
div.pane{
padding:45px 0px 25px 0px;
}
div#features{
background:url('/assets/horizontal_seperator.gif') repeat-x bottom;
clear:both;
padding-bottom:30px;
}
div#features div.feature{
width:283px;
float:left;
margin-right:25px;
position:relative;
}
div#features div.feature div.new{
width:106px;
height:95px;
background:url('/assets/new_feature.png') no-repeat top;
position:absolute;
top:0;
right:0;
z-index:2;
display:none;
}
div#features div.feature div.content{
background:#d3d3d3 url('/assets/feature_box-top.gif') no-repeat top;
padding:20px 20px 10px 20px;
}
div#features div.feature div.content div.screenshot{
position:relative;
}
div#features div.feature div.content div.screenshot a{
width:37px;
height:26px;
background:url('/assets/enlarge.png') no-repeat top;
text-indent:-999999px;
display:block;
position:absolute;
bottom:0px;
left:2px;
}
div#features div.feature div.content p{
color:#262626;
letter-spacing:-0.02em;
font-size:14px;
line-height:20px;
padding-top:15px;
padding-left:5px;
}
div#features div.feature div.bottom{
height:8px;
background:url('/assets/feature_box-bottom.gif') no-repeat top;
}
div#features div.last{
margin-right:0px;
}
div#reviews_faqs{
padding-top:35px;
}
div#reviews{
float:left;
width:275px;
height:280px;
padding-right:30px;
background:url('/assets/vertical_seperator.gif') repeat-y right;
overflow:hidden;
position:relative;
}
div#reviews div.review{
background:url('/assets/quotes.gif') no-repeat top left;
padding-left:30px;
margin-bottom:35px;
position:relative;
}
div#reviews div.review p{
font-style:italic;
font-size:13px;
letter-spacing:0.02em;
line-height:22px;
padding-top:2px;
margin-bottom:20px;
}
div#reviews div.review span{
color:#008FC8;
text-align:right;
display:block;
}
div#reviews div.review span a{
display:block;
font-size:11px;
text-decoration:none;
color:#999;
margin-top:3px;
}
div#reviews div.review span a:hover{
color:#555;
}
div#faqs{
float:right;
width:570px;
}
div#faqs div.left_column{
float:left;
width:240px;
}
div#faqs div.right_column{
float:right;
width:240px;
}
div#faqs div.faq{
margin-bottom:40px;
}
div#faqs div.faq b{
color:#252525;
font-weight:bold;
margin-bottom:10px;
display:block;
}
div#faqs div.faq p{
color:#777;
font-size:12px;
line-height:20px;
}
div#about{
;
}
div#about div.left{
float:left;
width:570px;
padding-right:40px;
}
div#about div.left p{
line-height:20px;
margin-bottom:25px;
}
div#about div.right{
background: #DDD;
float:right;
padding:15px 25px 5px 25px;
width:220px;
}
div#about div.right h2{
margin-bottom:15px;
}
div#about div.right ul{
list-style:none;
}
div#about div.right ul li{
height:60px;
margin-bottom:12px;
padding-bottom:12px;
clear:both;
border-bottom:1px solid #ccc;
}
div#about div.right ul li img{
float:left;
margin-right:15px;
}
div#about div.right ul li h3{
font-size:13px;
margin-bottom:5px;
color:#555;
}
div#about div.right ul li span{
font-size:12px;
display:block;
margin-bottom:4px;
font-style:italic;
color:#999;
}
div#about div.right ul li a{
font-size:11px;
color:#50aeae;
text-decoration:none;
}
div#about div.right ul li a:hover{
color:#333;
}
div#about div.right ul li.last{
border:none;
}
div#screenshots{
;
}
div#screenshots ul{
list-style:none;
}
div#screenshots li{
float:left;
margin-right:25px;
}
div#screenshots li img{
width:200px;
}
div#release_notes{
;
}
div#release_notes div.release{
margin-bottom:40px;
border-bottom:1px solid #ddd;
padding-bottom:30px;
}
div#release_notes .left{
float:left;
width:200px;
}
div#release_notes div.right{
float:right;
width:700px;
}
div#release_notes div.release span.date{
display:block;
margin-bottom:15px;
font-size:12px;
}
div#release_notes div.release ul{
padding-left:35px;
line-height:22px;
}
div#release_notes div.last{
margin:0;
padding:0;
border:none;
}
div#contact_form{
;
}
div#contact_form div.left{
float:left;
width:540px;
padding-right:40px;
background:url('/assets/vertical_seperator.gif') repeat-y top right;
}
div#contact_form form{
;
}
div#contact_form div.text_fields{
float:left;
}
div#contact_form form p{
clear:both;
margin-bottom:23px;
}
div#contact_form p label{
background:#ddd;
display:block;
padding:8px 0px 8px 10px;
width:70px;
text-align:left;
font-size:11px;
font-weight:bold;
color:#363636;
text-transform:uppercase;
float:left;
}
div#contact_form .text_input{
background:#fff url('/assets/text_field.gif') repeat-x top;
border:1px solid #c0c0c0;
padding:8px 8px 7px 8px;
font-size:11px;
color:#666;
margin-left:-2px;
width:240px;
}
div#contact_form select.text_input{
padding:6px 6px 4px 6px;
width:257px;
height:31px;
}
div#contact_form #message{
width:400px;
height:105px;
font-size:12px;
color:#666;
}
div#contact_form p.validation{
font-size:11px;
text-transform:uppercase;
padding-top:4px;
margin:0;
float:left;
}
div#contact_form .send{
float:left;
margin-left:275px;
}
div#contact_form div.right{
width:275px;
float:right;
}
div#contact_form div.right b{
font-weight:bold;
color:#252525;
display:block;
margin-bottom:10px;
}
div#contact_form div.right p{
font-size:13px;
line-height:22px;
letter-spacing:-0.02em;
margin-bottom:10px;
}
div#contact_form div.right a.email{
display:block;
padding-left:28px;
background:url('/assets/mail_icon.gif') no-repeat left;
color:#50aeae;
text-decoration:none;
}
div#contact_form div.right a.email:hover{
color:#333;
}
div#footer{
 padding-top:10px;
padding-bottom:30px;
}
div#footer div.top{
height:30px;
border-bottom: 1px solid #CFCFCF;
}
div#footer div.top img{
margin-top:-10px;
}
div#footer div.top ul{
list-style:none;
float:right;
margin-top:-10px;
}
div#footer div.top ul li{
float:left;
padding:8px;
}
div#footer div.top ul li a{
width:22px;
height:22px;
background:#e8e8e8 url('/assets/social_icons.gif') no-repeat;
text-indent:-99999px;
display:block;
}
div#footer div.top ul li.twitter a{
background-position:0px 0px;
}
div#footer div.top ul li.twitter a:hover{
background-position:0px -22px;
}
div#footer div.top ul li.facebook a{
background-position:-22px 0px;
}
div#footer div.top ul li.facebook a:hover{
background-position:-22px -22px;
}
div#footer div.top ul li.rss a{
background-position:-44px 0px;
}
div#footer div.top ul li.rss a:hover{
 background-position:-44px -22px;
}
div#footer div.bottom{
padding-top:10px;
}
div#footer div.bottom a{
float:left;
}
div#footer div.bottom p{
float:right;
font-size:14px;
padding-top:8px;
color: #666;
}
h1{
width:448px;
height:112px;
background:url('/assets/logo.png') no-repeat top;
text-indent:-999999px;
position:relative;
left:21px;
}
h2{
color:#222;
font-size:20px;
margin-bottom:15px;
text-shadow: 1px 1px 0 #d3d3d3;
}
h3{
color:#222;
font-size:16px;
margin-bottom:5px;
font-weight:bold;
}
span.red{
color:#e20a10;
}
.clear{
clear:both;
}
img{
border:none;
}
a{
outline:none;
}
#likebox-frame{
 width:560px;
 height:300px;
 z-index:10;
 overflow: hidden;
 position:relative;
 top:-1px;
 left:-2px;
}
#likebox-frame iframe{
  left:-5px;
  overflow:hidden;
  position:relative;
  top:-2px;
}

/* Rails */
label{
  display:none;
}
.field{
  float:left;
}
.actions input[type="image"]{
  margin:18px 0 0 20px;
  width:60px;
}
#download_contact{
	float: left;
	display: block;
	width: 260px;
	height: 48px;
	position: relative;
	padding: 0 12px;
	margin: 5px 0 10px 0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb', endColorstr='#ffffff'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#fff)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #dbdbdb,  #fff); /* for firefox 3.6+ */ 	border: 0;
	font-family: 'arial';
	font-size: 18px;
	color: #a6a6a6;
	outline: none;
	border-radius: 6px;
}
input#download_contact:focus{
	color: #666;	
}
div#top_content div#app_description p#thankyou{
font-size:18px;
color:#262626;
width:400px;
margin:2px 0;
text-shadow:1px 0px 0 #008FC8;
}
